*,
*::after,
*::before {
  box-sizing: border-box;
  margin: none;
}

img {
  max-width: 100%;
}

:root {
  // height: 100vh;
  // width: 100vw;
  background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
}
