*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

:root {
  background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
